
<div class="container pt-4">

<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">id</th>
		      <th scope="col">Picture</th>
		      <th scope="col">Title</th>
		      <th scope="col">Details</th>
		      <th scope="col">Add to cart</th>
		    </tr>
        
		  </thead>
		  <tbody>
        <% @products.each do |product| %>
		      <tr>
		        <th scope="row"> <%= product.id %> </th>
		        <td class="w-25">
              <% if product.image.attached? %>
                <%= image_tag product.image, width: "50%" %>
              <% end %>
		        </td>
		        <td><%= product.title %></td>
            <% if user_signed_in? %>
              <td><%= link_to 'Show', product %></td>
            <% end %>
            <td><%= link_to 'Ajouter au panier', items_path(product_id: product.id), method: "POST" %></td>

          </tr>
        <% end %>
		
		  </tbody>
		</table>
    </div>
  </div>
</div>
</div>
