<link type="text/css" rel="stylesheet" href="/app/assets/stylesheets/application.scss">

<div class=cart_show>

<div class="container pt-2">



<div class="card" style="width: 18rem;">
<div class="col-md-4">

       <% if @product.image.attached? %>
         <%= image_tag @product.image, width: "100%" %>
       <% end %>
 
</div>
  <div class="card-body">
    <h5 class="card-title"><%= @product.title %></h5>
    <p class="card-text"><%= @product.description %></p>
    <p class="card-text"><small class="text-muted"><%= link_to 'Edit', edit_product_path(@product) %> |
         <%= link_to 'Back', products_path %></small></p>
  </div>
</div>

</div>

